.empty li {
  width: 100%;
  height: 1.5rem;

  margin: 0.25rem 0;

  background-color: rgba(150, 150, 150, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(150, 150, 150, 0.15);

  transform: skew(340deg);
}

.empty li::before, 
.empty li::after {
  content: '';
  position: absolute;

  width: 1.5rem;
  height: 1.5rem;

  background-color: rgba(150, 150, 150, 0.15);
  filter: blur(10px);
}

.empty li::before {
  left:0;
  animation: movingLeft 5s infinite ease-in-out;
}

.empty li::after {
  right:0;
  animation: movingRight 5s 1s infinite ease-in-out;
}

@keyframes movingLeft {
  0% { width: 20vw; }
  50% { width: 80vw; }
  100% { width: 20vw; }
}

@keyframes movingRight {
  0% { width: 80vw; }
  50% { width: 20vw; }
  100% { width: 80vw; }
}
