footer {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

footer hr {
  color: rgb(230, 20, 280, 0.3);
  background-color: rgb(230, 20, 280, 0.3);

  width: 10vw;
  height: 1px;

  margin-bottom: 1rem;

  border: none;
}