.note {
  color: grey;
  padding: 0.5rem 0.5rem;
  font-size: 15px;
}

.note *{
  margin: 0px;
}

.note-delete {
  color: red;
  font-style: italic;
  text-decoration: line-through;
}

.note-selected {
  background-color: lightblue;
}

.note-selected.note-delete {
  background-color: lightcoral;
}